{% load static%}

<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EIC Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/img/logo-final.png' %}">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome-all.min.css' %}">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">

    <!-- animate-text CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate-text.css' %}">

    <!-- AOS CSS -->
    <link href="{% static 'css/plugins/aos.css' %}" rel="stylesheet">

    <!-- Some Plugins CSS -->
    <link href="{% static 'css/plugins/some-plugins.min.css' %}" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">


    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->


    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>




    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Top Wrap Start -->
        <div class="header-top-wrap theme-bg-three">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-4 col-6  d-md-block d-none">
                        <p class="top-message text-md-center"><a href="customerlogin">Login</a> <span class="text-white"> / </span> <a href="#">Register</a> </p>
                    </div>
                    <div class="col-md-4  col-6">
                        <!-- header right box -->
                        <div class="header-right-box">
                            <!-- this is for the mobile view content-->
                            <div class="header-right-inner" id="hidden-icon-wrapper">

                                <p class="mobile-top-message d-block d-md-none"><a href="customerlogin">Login</a><span> / </span><a href="signupopt">Register</a> </p>
                                <!-- language-menu -->

                            <!-- hidden icons menu -->
                            <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-ellipsis-h"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top Wrap End -->

        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-area--absolute transparent-bg header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="landing-page">
                                    <img src="{% static 'images/img/logo-final.png' %}" class="img-fluid" alt="">
                                </a>
                            </div>

                            <!-- header midle box  -->
                            <div class="header-midle-box">
                                <div class="header-bottom-wrap d-md-block d-none">
                                    <div class="header-bottom-inner">
                                        <div class="header-bottom-left-wrap">
                                            <!-- navigation menu -->
                                            <div class="header__navigation d-none d-lg-block">
                                                <nav class="navigation-menu primary--menu">
                                                    <ul>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="landing-page"><span>Home</span></a>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="about-us"><span>About</span></a>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="product&services"><span>Products & services</span></a>
                                                            <ul class="submenu">
                                                                <li><a href="#"><span>Vehicle Insurance</span></a></li>
                                                                <li><a href="#"><span>vehicle Long Term Insurance </span></a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="blog"><span>Blog</span></a>
                                                        </li>
                                                        <li class="has-children">
                                                            <a href="contact-us"><span>Contact</span></a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="mobile-navigation-icon d-block d-lg-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Header Bottom Wrap End -->


    </div>

    <!--====================  End of header area  ====================-->

























    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area bg-img" data-bg="{% static 'images/img/gradient-bg.jpg' %}" data-white-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-left">
                        <h2 class="breadcrumb-title title--default mb-10">Blog Post</h2>
                        <h4>Our latest News</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
















    <div class="site-wrapper-reveal">


        <!--==================== Lates Blog Area Start  ====================-->
        <div class="lates-blog-area section-space--pt_120 section-space--pb_90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog1.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">EIC </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">Ethiopian Insurance Corporation has paid a claim of above 16.1million birr</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>The Ethiopian Insurance CorporationEIC has paid a claim of Birr 16,154,196 million to Anbessa City Bus Service Enterprise on April 20, 2017 at CEOs meeting hall for property damaged due to fire accident</p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog  mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog2.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">EIC </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">Ethiopian Insurance Corporation (EIC) graduates new trainees</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>The EIC trained 113 new and 26 existing officers and graduated them on June 2017 at the Meeting Hall of its Head Quarters.<br> Present at the graduation ceremony were Mr. Nesanet Lemessa, the Chief of Executive Officer
                                        of the Corporation and other management members.</p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog  mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog4.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">EIC </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">Ethiopian Insurance Corporation celebrates the 2nd employees day</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>Ethiopian Insurance Corporation has celebrated the 2nd employees day on 12 February ,2017 at Kality on its own sport center in the presence of his Excellency Dr. Sintayehu WoldeMichael, Director General of the Public
                                        Financial Enterprises Agency, the newly assigned CEO of Ethiopian Insurance Corporation, Ato Netsanet Lemessa, EICs managements, all staff in Addis and outline branches around Addis Ababa.</p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog  mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog5.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">EIC </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">Appointment</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>Ato Netsanet Lemessa has been appointed as a chief executive officer (CEO) of the Ethiopian Insurance corporation. With regard to the appointment the Public Financial Enterprises Agency announced that National Bank
                                        of Ethiopia has accepted the agency’s request pertaining to the appointment of Mr. Netsanet Lemessa as Chief Executive Officer of the Ethiopian Insurance Corporation as of March 6, 2017 with a letter dated March
                                        8/2017 ref. no.መፋ065-2B4.

                                    </p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog  mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog3.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">Jhon Smith </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">EIC graduates 16th round trainee officers</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>Ethiopian Insurance Corporation trained and graduated 95 trainees (73 new and 22 existing employees) on July 3, 2018 at its auditorium. The training were conducted for about two months dated from April 26,2018 to June
                                        30-2018.The training session largely focused on principles and practices of insurance and how to use the existing insurance and accounting software ( i.e. INSIS and AGGRESSO).</p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- lates Single Blog Start-->
                        <div class="lates-single-blog  mb-30">
                            <div class="blog-media">
                                <a href="#"><img class="img-fluid" src="{% static 'images/img/blog/blog6.jpg' %}" alt=""></a>
                            </div>
                            <div class="post-info lates-blog-post-info">
                                <div class="post-meta">
                                    <div class="post-date">
                                        <span class="other_name">Jhon Smith </span> - November 30, 2019
                                    </div>
                                </div>

                                <h4 class="post-title font-weight--bold">
                                    <a href="#" class="title--default">Ethiopian Insurance Corporation Secures a Profit of birr 698.6 million before tax</a>
                                </h4>

                                <div class="post-excerpt mt-15">
                                    <p>Ethiopian Insurance Corporation has registered a record profit of Birr 698.6 Million before tax in 2016/17 fiscal year. The Corporation has conducted its 31st Annual General Management Meeting from 25 – 26 August, 2017
                                        at Intercontinental Hotel, in the presence of His Excellency Dr. Sintayehu Wolde Mikael, General Director, Public Financial Enterprises Agency, members of Corporate Board of Management, Mr. Natsannet Lammessa, CEO
                                        of Ethiopian Insurance Corporation and all Management Member of the Corporation.</p>
                                </div>
                                <div class="btn-text">
                                    <a href="#">Read more >></a>
                                </div>
                            </div>
                        </div>
                        <!-- lates Single Blog End -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--==================== Lates Blog Area End  ====================-->




    </div>

    <!--====================  footer area ====================-->
    <div class="footer-area-wrapper ">
        <div class="footer-area section-space--ptb_120 bg-img footer-bg--overlay" data-bg="{% static 'images/bg/footer-bg-01.jpg' %}">
            <div class="container">
                <div class="row footer-widget-wrapper">
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget">
                        <div class="footer-widget__logo mb-30">
                            <img src="{% static 'images/img/logo-final.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="footer-widget-dic">

                            <p class="footer-dec"></p>

                            <div class="newsletter-footer-wrap mt-20">
                                <h5 class="mb-10">Subscribe Newsletter</h5>
                                <p>Subscribe our newsletter and get latest update about our offers, promotions and adds</p>
                                <div class="newsletter-footer mt-20">
                                    <form action="#" class="widget-newsletter-form">
                                        <input type="text" placeholder="Enter your email">
                                        <div class="subscribe-button">
                                            <button class="subscribe-btn">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <div class="coustom-row-in-footer">
                            <div class="footer-widget-coustom-col footer-widget">
                                <h4 class="footer-widget__title mb-20 text-white">Useful Links</h4>
                                <ul class="footer-widget__item-list">
                                    <li><a href="landing-page" class="hover-style-link">Home</a></li>
                                    <li><a href="about-us" class="hover-style-link">About us</a></li>
                                    <li><a href="product&services" class="hover-style-link">Our Services</a></li>
                                    <li><a href="contact-us" class="hover-style-link">Contact us</a></li>
                                    <li><a href="blog" class="hover-style-link">Blog Post</a></li>

                                    <li><a href="contact-us" class="hover-style-link">Contact us</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget-coustom-col footer-widget">
                                <h4 class="footer-widget__title mb-20 text-white">Contact Info</h4>
                                <div class="footer-widget__list">
                                    <div class="single-footer-widger">
                                        <h5>Address</h5>
                                        <p>Address: 2Q63+R2P, Ras Mekonen Ave, Addis Ababa</p>
                                    </div>
                                    <div class="single-footer-widger">
                                        <h5>Phone</h5>
                                        <p>+251-11-551-2400</p>
                                    </div>
                                    <div class="single-footer-widger">
                                        <h5>Email</h5>
                                        <p>
                                            <a href="mailto:eic.mdxvs@eic-et.com">eic.mdxvs@eic-et.com</a> <br>
                                            <a href="mailto:bdrm@eic-et.com">bdrm@eic-et.com</a> <br>
                                            <a href="mailto:comesaycard@eic-et.com">comesaycard@eic-et.com </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-4 col-sm-6 footer-widget">
                        
                    </div>-->
                </div>
            </div>
        </div>
        <div class="footer-copyright-area mt-25 mb-25">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <span class="copyright-text">Copyright &copy; <a href="https://hasthemes.com/" target="_blank" >All Rights Reserved.</a> Ethiopia Insurance Corporation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->







    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top  fa fa-angle-double-up"></i>
        <i class="arrow-bottom fa fa-angle-double-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->




    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-overlay__header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8">
                            <!-- logo -->
                            <div class="logo">
                                <a href="landing-page">
                                    <img src="{% static 'images/img/logo-final.png' %}" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-4">
                            <!-- mobile menu content -->
                            <div class="mobile-menu-content text-right">
                                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-overlay__body">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="has-children">
                            <a href="landing-page">Home</a>

                        </li>
                        <li class="has-children">
                            <a href="about-us">About</a>
                        </li>
                        <li class="has-children">
                            <a href="product&services">Product & services</a>
                            <ul class="sub-menu">
                                <li><a href="#"><span>Vehicle Insurance </span></a></li>
                                <li><a href="#"><span>Long term Vehicle Insurance</span></a></li>
                            </ul>
                        </li>
                        <!---->
                        <li class="has-children">
                            <a href="blog">Blog</a>
                        </li>
                        <li class="has-children">
                            <a href="contact-us"><span>Contact</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--====================  mobile menu overlay  End ====================-->


























        <!-- JS
    ============================================ -->
        <!-- Modernizer JS -->
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

        <!-- jQuery JS -->
        <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>

        <!-- Bootstrap JS -->
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <!-- Swiper Slider JS -->
        <script src="{% static 'js/plugins/swiper.min.js' %}"></script>

        <!-- Waypoints JS -->
        <script src="{% static 'js/plugins/waypoints.min.js' %}"></script>

        <!-- Counter down JS -->
        <script src="{% static 'js/plugins/countdown.min.js' %}"></script>

        <!-- Isotope JS -->
        <script src="{% static 'js/plugins/isotope.min.js' %}"></script>

        <!-- Masonry JS -->
        <script src="{% static 'js/plugins/masonry.min.js' %}"></script>

        <!-- ImagesLoaded JS -->
        <script src="{% static 'js/plugins/images-loaded.min.js' %}"></script>

        <!-- counterup JS -->
        <script src="{% static 'js/plugins/counterup.min.js' %}"></script>

        <!-- wow JS -->
        <script src="{% static 'js/plugins/wow.min.js' %}"></script>

        <!-- AOS JS -->
        <script src="{% static 'js/plugins/aos.js' %}"></script>

        <!-- Some plugins JS -->
        <script src="{% static 'js/plugins/some-plugins.js' %}"></script>


        <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->



        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>


</body>

</html>